* {
    margin: 0;
    padding: 0;
}

.Login::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #005bea;
    opacity: 0.9;
    background: -webkit-linear-gradient(bottom,#005bea,#00c6fb);
    z-index: -1;
}

.Login {
    position: relative;
    background-image: url('../img/img-01.jpg');
    z-index: 1;
}

.Image {
    border-radius: 80px;
    position: relative;
    top: 185px;
    left: 612px;
}

.Head {
    font-size:25px;
    text-align: center;
    position: relative;
    top: 185px;
    color: white;
}

.UsernameInput {
    width: 20%;
    position: relative;
    top: 200px;
    left: 495px;
    border-radius: 30px;
    border: transparent;
    padding: 15px 30px;
}

.PasswordInput {
    width: 20%;
    position: relative;
    top: 260px;
    left: 146px;
    border-radius: 30px;
    border: transparent;
    padding: 15px 30px;
}

.Button {
    width: 24.5%;
    border-radius: 30px;
    border: none;
    position: relative;
    top: 320px;
    left: -187px;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 15px 30px;
}

input[type="text"].firstInput::-webkit-input-placeholder{
    color: #8E8E8E;
    font-size: 15px;
}

input[type="text"].secondInput::-webkit-input-placeholder{
    color: #8E8E8E;
    font-size: 15px;
}

.icon1{
    position: relative;
    left: 525px;
    top: 200px;
    z-index: 1;
    color: #8E8E8E;
}

.icon2{
    position: relative;
    left: 175px;
    top: 261px;
    z-index: 1;
    color:  #8E8E8E;
}


.Link1, .Link2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.Link1 {
    margin-bottom: 150px;
    margin-top: 340px;
}

.Link2 {
    padding-bottom: 50px;
}