* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fontawesome-webfont;
    src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: Linearicons-Free;
    src: url(../fonts/Linearicons-Free.ttf);
}

body {
    font-family: "Poppins", sans-serif
}

nav>ul {
    list-style-type: none;
    text-align: right;
    position: relative;
    right: 120px;
    bottom: 26px;
}

ul>li {
    display: inline;
    margin-left: 25px;
}

li>a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.btn {
    border: none;
    color: white;
    font-size: 14px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(98, 98, 223);
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 1201px;
}

.header {
    background-color: rgba(102, 110, 255, 0.712);
    position: fixed;
    width: 100%;
}

.banner {
    background-image: url(../img/banner-bg.jpg);
    width: 100%;
    height: 670px;
    background-repeat: round;
}

.headerLogo {
    padding: 20px 0 0 100px;
}

.bannerImage {
    text-align: right;
    position: relative;
    right: 170px;
    top: 145px;
}

.bannerText {
    position: relative;
    bottom: 210px;
    margin-left: 110px;
    font-size: 65px;
    color: white;
}

.bannerSubText {
    position: relative;
    bottom: 205px;
    margin-left: 112px;
    font-size: 15px;
    color: white;
}

.bannerButton {
    position: relative;
    bottom: 185px;
    margin-left: 112px;
    font-size: 15px;
    padding: 12px 35px;
    border: 0.5px solid white;
}

.bannerButton a {
    text-decoration: none;
    color: black
}

.bannerButton:hover {
    background-color: rgba(145, 123, 167, 0.137);
    transition: background-color 0.3s ease-in-out;
}

.bannerButton:hover a {
    color: white;
}

.content {
    background-color: rgba(241, 241, 241, 0.192);
}

.headInContent,
.pInContent {
    text-align: center;
}

.headInContent {
    font-size: 35px;
    padding-top: 120px;
    margin-bottom: 15px;
}

.pInContent {
    margin-bottom: 70px;
    color: rgb(105, 105, 105);
}

.product {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0 110px;
    padding-bottom: 120px;
    cursor: pointer;
}

.product1,
.product2,
.product3,
.product4 {
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 251, 251, 0.39);
    border-radius: 5px;
    height: 435px;
    box-shadow: 1px 1px 7px 0.1px #aaaaaa;
}

.pic1 {
    width: 90px;
    padding: 40px 87px;
    margin-bottom: 20px;
    background-color: white;
}

.pic2 {
    width: 90px;
    padding: 50px 87px;
    margin-bottom: 20px;
    background-color: white;
}

.pic3 {
    width: 90px;
    padding: 35px 87px;
    margin-bottom: 20px;
    background-color: white;
}

.pic4 {
    width: 90px;
    padding: 54px 87px;
    margin-bottom: 20px;
    background-color: white;
}

.headInPic1,
.headInPic2,
.headInPic3,
.headInPic4 {
    text-align: center;
    font-size: 18px;
}

.pInPic1,
.pInPic2,
.pInPic3,
.pInPic4 {
    text-align: center;
    font-size: 15px;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
    margin: 20px;
}

.buttonInPic1,
.buttonInPic2,
.buttonInPic3,
.buttonInPic4 {
    width: 60%;
    margin: 0 auto;
    padding: 13px 10px;
    background-color: white;
    border: none;
}

.buttonInPic1 a,
.buttonInPic2 a,
.buttonInPic3 a,
.buttonInPic4 a {
    text-decoration: none;
    color: black;
}

.product1:hover .buttonInPic1,
.product2:hover .buttonInPic2,
.product3:hover .buttonInPic3,
.product4:hover .buttonInPic4 {
    background: -webkit-linear-gradient(left top, rgb(132, 132, 219), rgb(145, 145, 219), rgb(193, 156, 224), rgb(179, 123, 211));
    border: 0.2px solid rgb(113, 189, 212);
}

.product1:hover .buttonInPic1 a,
.product2:hover .buttonInPic2 a,
.product3:hover .buttonInPic3 a,
.product4:hover .buttonInPic4 a {
    color: white;
}

.getDetails {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    margin-bottom: 100px;
}

.imgInGetDetails img {
    width: 680px;
}

.descriptionInGetDetails {
    margin-top: 100px
}

.headInGetDetails {
    font-size: 37px;
    margin-bottom: 15px;
}

.head2InGetDetails {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: normal;
}

.pInGetDetails {
    color: rgba(73, 70, 70, 0.74);
    margin-bottom: 20px;
    line-height: 23px;
}

.buttonInGetDetails {
    width: 22%;
    margin: 0 auto;
    padding: 13px 10px;
    background: -webkit-linear-gradient(left top, rgb(132, 132, 219), rgb(145, 145, 219), rgb(193, 156, 224), rgb(179, 123, 211));
    border: 0.2px solid rgb(113, 189, 212);
    cursor: pointer;
    font-weight: bold;
}

.buttonInGetDetails a {
    text-decoration: none;
    color: white;
}

.buttonInGetDetails:hover {
    background: white;
    border: 0.2px solid rgb(81, 140, 235);
}

.buttonInGetDetails:hover a {
    color: rgba(65, 65, 238, 0.719);
}

.getStarted {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin: 0 120px;
    padding-bottom: 125px;
}

.pInGetStarted {
    font-size: 11px;
    color: rgba(109, 109, 238, 0.692);
    margin: 10px 0;
    letter-spacing: 2px;
}

.headInGetStarted {
    font-size: 37px;
    margin-bottom: 20px;
}

.head2InGetStarted {
    font-size: 15px;
    margin-bottom: 20px;
}

.p2InGetStarted {
    color: rgba(73, 70, 70, 0.74);
    margin-bottom: 15px;
    line-height: 23px;
}

.buttonInGetStarted {
    width: 32%;
    margin: 0 auto;
    padding: 13px 10px;
    background: -webkit-linear-gradient(left top, rgb(132, 132, 219), rgb(145, 145, 219), rgb(193, 156, 224), rgb(179, 123, 211));
    border: 0.2px solid rgb(113, 189, 212);
    cursor: pointer;
    font-weight: bold;
}

.buttonInGetStarted a {
    text-decoration: none;
    color: white;
}

.buttonInGetStarted:hover {
    background: white;
    border: 0.2px solid rgb(81, 140, 235);
}

.buttonInGetStarted:hover a {
    color: rgba(65, 65, 238, 0.719);
}

.imgInGetStarted {
    background-image: url(../img/video-bg.jpg);
    width: 550px;
    height: 350px;
}

.imgInGetStartedColor {
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    opacity: 0.8;
    height: 100%;
}

.imgInGetStartedColor img {
    display: block;
    margin: 0 auto;
    padding-top: 148px;
}

.feature {
    background-image: url(../img/feature-bg.jpg);
    height: 100%;
    width: 100%;
}

.headInFeature {
    text-align: center;
    color: white;
    padding-top: 110px;
    font-size: 35px;
}

.pInFeature {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 40px;
}

.introduceFeature {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 55px 80px 0 100px;
    row-gap: 35px;
    padding-bottom: 140px;
}

.imgInFeature1,
.imgInFeature2,
.imgInFeature3,
.imgInFeature4,
.imgInFeature5,
.imgInFeature6 {
    width: 20px;
    height: 20px;
}

.linkInFeature1,
.linkInFeature2,
.linkInFeature3,
.linkInFeature4,
.linkInFeature5,
.linkInFeature6 {
    display: flex;
    text-decoration: none;
    color: black;
}

.feature1,
.feature2,
.feature3,
.feature4,
.feature5,
.feature6 {
    width: 355px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.feature1:hover .imgInFeature1,
.feature1:hover h2,
.feature2:hover .linkInFeature2,
.feature3:hover .linkInFeature3,
.feature4:hover .linkInFeature4,
.feature5:hover .linkInFeature5,
.feature6:hover .linkInFeature6 {
    filter: brightness(1) invert(.5) sepia(.9) hue-rotate(180deg) saturate(200%);
    transition: filter 0.3s ease-in-out;
    -webkit-filter: brightness(1) invert(.5) sepia(.9) hue-rotate(180deg) saturate(200%);
}

.imgInFeature1,
.imgInFeature2,
.imgInFeature3,
.imgInFeature4,
.imgInFeature5,
.imgInFeature6 {
    margin: 30px 5px 10px 30px;
}

.headInFeature1,
.headInFeature2,
.headInFeature3,
.headInFeature4,
.headInFeature5,
.headInFeature6 {
    margin: 26px 5px 0 0;
    font-size: 18px;
}

.pInFeature1,
.pInFeature2,
.pInFeature3,
.pInFeature4,
.pInFeature5,
.pInFeature6 {
    margin: 5px 2px 30px 30px;
    font-size: 15px;
    color: rgba(73, 70, 70, 0.74);
}

.footer {
    background-image: url(../img/footer-bg.jpg);
    width: 100%;
    height: 100%;
}

.footerContent {
    display: flex;
    flex-direction: row;
}

.topProduct {
    padding-top: 90px;
    padding-left: 125px;
    color: white;
}

.headInTopProduct {
    font-size: 17px;
    margin-bottom: 20px;
}

.p1InTopProduct,
.p2InTopProduct,
.p3InTopProduct,
.p4InTopProduct {
    font-size: 14px;
    line-height: 30px;
}

.newsLetter {
    margin: 86px 150px;
}

.newsLetter {
    color: white;
}

.headInNewsLetter {
    font-size: 17px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.pInNewsLetter {
    font-size: 14px;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 310px;
    margin-right: 30px;
    padding: 11px 12px;
    border-radius: 20px;
    border: none;
}

.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    margin-left: 365px;
    margin-top: -38px;
    padding: 0.55em;
    padding-left: 1em;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.5em;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.9em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(88% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.instagramFeed {
    margin-left: -90px;
    margin-top: 80px;
}

.headInInstagramFeed {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.imgInInstagramFeed {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8px;
}

.pInFooter {
    color: white;
}

.pInFooter {
    color: white;
    margin-top: 70px;
    margin-left: 125px;
    font-size: 14px;
}

.pInFooter img {
    width: 3%;
    position: relative;
    bottom: -2px;
}

.linkInFooter {
    text-decoration: none;
    color: rgba(105, 57, 235, 0.699);
    margin-top: 69px;
    margin-right: 678px;
    font-size: 15px;
}

.button {
    font-family: inherit;
    left: 1085px;
    bottom: 130px;
    font-weight: 400;
    background: #f2295b;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.6em;
    padding-left: 3em;
    padding-right: 0.7em;
}

.button .icon {
    background: #fff;
    margin-right: 1em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.3em;
    transition: all .7s;
}

.shere {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 4px;
}

.button:hover .icon {
    width: calc(100% - 0.6rem);
}

.button:hover .shere {
    width: calc(100% - 0.6rem);
    display: none;
}

.button .icon-shere {
    color: #f2295b;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    margin-right: 5px;
}

.button:hover .icon .icon-shere {
    display: flex;
}